In [3]:
import pandas as pd

df = pd.read_csv('features.csv')

In [4]:
# üîç Inspect the Data

df.head()        # First 5 rows
df.tail()        # Last 5 rows
df.shape         # (rows, columns)
df.columns       # Column names
df.dtypes        # Data types of each column
df.info()        # Summary of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [5]:
# ‚úÖ 2. Check for Missing (Null/NaN) Values
# Why?
# Missing values can distort analysis or cause errors in modeling.

df.isnull().sum()        # Count of nulls per column
df.isnull().mean()       # Proportion of nulls
df[df['MarkDown1'].isnull()]  # View rows with missing value in column

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8095,45,2011-10-07,55.82,3.583,NaN,NaN,NaN,NaN,NaN,187.483796,8.523,False
8096,45,2011-10-14,63.82,3.541,NaN,NaN,NaN,NaN,NaN,187.691748,8.523,False
8097,45,2011-10-21,59.60,3.570,NaN,NaN,NaN,NaN,NaN,187.784620,8.523,False
8098,45,2011-10-28,51.78,3.569,NaN,NaN,NaN,NaN,NaN,187.877491,8.523,False
8099,45,2011-11-04,43.92,3.551,NaN,NaN,NaN,NaN,NaN,187.970363,8.523,False

In [6]:
# ‚úÖ 3. Handle Missing Values
# üîπ Numerical Columns

# Fill with mean or median
df['MarkDown5'].fillna(df['MarkDown5'].mean(), inplace=True)
df['CPI'].fillna(df['CPI'].median(), inplace=True)

# Drop rows/columns
# df.dropna(axis=0, inplace=True)      # Drop rows with any NaN
# df.dropna(axis=1, thresh=100, inplace=True)  # Drop columns with too many NaNs

C:\Users\Dell\AppData\Local\Temp\ipykernel_8336\1094634806.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MarkDown5'].fillna(df['MarkDown5'].mean(), inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_8336\1094634806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CPI'].fillna(df['CPI'].median(), inplace=True)

In [7]:
# üîπ Categorical Columns

# Fill with mode (most frequent)
df['MarkDown2'].fillna(df['MarkDown2'].mode()[0], inplace=True)
print(df.head)

<bound method NDFrame.head of       Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1  2010-02-05        42.31       2.572        NaN       3.00
1         1  2010-02-12        38.51       2.548        NaN       3.00
2         1  2010-02-19        39.93       2.514        NaN       3.00
3         1  2010-02-26        46.63       2.561        NaN       3.00
4         1  2010-03-05        46.50       2.625        NaN       3.00
...     ...         ...          ...         ...        ...        ...
8185     45  2013-06-28        76.05       3.639    4842.29     975.03
8186     45  2013-07-05        77.50       3.614    9090.48    2268.58
8187     45  2013-07-12        79.37       3.614    3789.94    1827.31
8188     45  2013-07-19        82.84       3.737    2961.49    1047.07
8189     45  2013-07-26        76.06       3.804     212.02     851.73

      MarkDown3  MarkDown4    MarkDown5         CPI  Unemployment  IsHoliday
0           NaN        NaN  4132.216422  211.096358         8.106      False
1           NaN        NaN  4132.216422  211.242170         8.106       True
2           NaN        NaN  4132.216422  211.289143         8.106      False
3           NaN        NaN  4132.216422  211.319643         8.106      False
4           NaN        NaN  4132.216422  211.350143         8.106      False
...         ...        ...          ...         ...           ...        ...
8185       3.00    2449.97  3169.690000  182.764003           NaN      False
8186     582.74    5797.47  1514.930000  182.764003           NaN      False
8187      85.72     744.84  2150.360000  182.764003           NaN      False
8188     204.19     363.00  1059.460000  182.764003           NaN      False
8189       2.06      10.88  1864.570000  182.764003           NaN      False

[8190 rows x 12 columns]>

C:\Users\Dell\AppData\Local\Temp\ipykernel_8336\1989475061.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MarkDown2'].fillna(df['MarkDown2'].mode()[0], inplace=True)

In [8]:
# 1. Central Tendency Measures
# Objective: Understand where the data tends to cluster.
# ‚Ä¢	Task 1.1: Calculate the mean, median, and mode for each of the following columns:
# o	Temperature
# o	Fuel_Price
# o	CPI
# o	Unemployment
# ‚Ä¢	Instruction: Use df['column'].mean(), median(), and mode() for each column. Interpret what the results say about the dataset.


# Assuming your DataFrame is named 'df'
columns = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

for col in columns:
    mean_val = df[col].mean()
    median_val = df[col].median()
    mode_val = df[col].mode()[0]  # mode() returns a Series, take the first mode if multiple
    print(f"{col}:\n  Mean: {mean_val:.2f}\n  Median: {median_val:.2f}\n  Mode: {mode_val:.2f}\n")

Temperature:
  Mean: 59.36
  Median: 60.71
  Mode: 50.43

Fuel_Price:
  Mean: 3.41
  Median: 3.51
  Mode: 3.42

CPI:
  Mean: 173.20
  Median: 182.76
  Mode: 182.76

Unemployment:
  Mean: 7.83
  Median: 7.81
  Mode: 8.10

In [12]:
# üîπ 2. Dispersion Measures
# Objective: Measure how spread out the values are.
# ‚Ä¢	Task 2.1: Calculate the range (max - min) of each numerical column.
numerical_cols = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 
                  'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

for col in numerical_cols:
    range_val = df[col].max() - df[col].min()
    print(f"{col} Range: {range_val:.2f}")
# ‚Ä¢	Task 2.2: Compute the standard deviation and variance for:
for col in numerical_cols:
    std_val = df[col].std()
    var_val = df[col].var()
    print(f"{col}:\n  Standard Deviation: {std_val:.2f}\n  Variance: {var_val:.2f}\n")

# o	Temperature, Fuel_Price, CPI, Unemployment, MarkDown1‚Äì5
# ‚Ä¢	Instruction: Use .std() and .var() methods. Comment on which variable has the most/least variability.

Temperature Range: 109.24
Fuel_Price Range: 2.00
CPI Range: 102.91
Unemployment Range: 10.63
MarkDown1 Range: 105966.43
MarkDown2 Range: 104785.30
MarkDown3 Range: 149662.57
MarkDown4 Range: 67474.63
MarkDown5 Range: 771633.27
Temperature:
  Standard Deviation: 18.68
  Variance: 348.89

Fuel_Price:
  Standard Deviation: 0.43
  Variance: 0.19

CPI:
  Standard Deviation: 38.38
  Variance: 1473.37

Unemployment:
  Standard Deviation: 1.88
  Variance: 3.52

MarkDown1:
  Standard Deviation: 9262.75
  Variance: 85798490.28

MarkDown2:
  Standard Deviation: 5495.13
  Variance: 30196478.37

MarkDown3:
  Standard Deviation: 11276.46
  Variance: 127158599.93

MarkDown4:
  Standard Deviation: 6792.33
  Variance: 46135744.95

MarkDown5:
  Standard Deviation: 9202.13
  Variance: 84679162.46

In [14]:
# üîπ 3. Percentiles & IQR
# Objective: Identify data concentration and outliers.
# ‚Ä¢	Task 3.1: Calculate the 25th, 50th, and 75th percentiles for Fuel_Price, CPI, and all MarkDown columns.
percentiles = df[columns].quantile([0.25, 0.5, 0.75])
columns = ['Fuel_Price', 'CPI', 'MarkDown1', 'MarkDown2', 
           'MarkDown3', 'MarkDown4', 'MarkDown5']

percentiles = df[columns].quantile([0.25, 0.5, 0.75])
print(percentiles)

# ‚Ä¢	Task 3.2: Compute the Interquartile Range (IQR) for the above.
Q1 = df[columns].quantile(0.25)
Q3 = df[columns].quantile(0.75)
IQR = Q3 - Q1
print("Interquartile Range (IQR):\n", IQR)

# ‚Ä¢	Instruction: Use np.percentile() or df.quantile([0.25, 0.5, 0.75]). IQR = Q3 - Q1.

      Fuel_Price         CPI  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
0.25       3.041  132.653774  1577.5325       3.00       6.60   304.6875
0.50       3.513  182.764003  4743.5800       3.00      36.26  1176.4250
0.75       3.743  212.766994  8923.3100      98.59     163.15  3310.0075

        MarkDown5
0.25  2753.105000
0.50  4132.216422
0.75  4132.216422
Interquartile Range (IQR):
 Fuel_Price       0.702000
CPI             80.113220
MarkDown1     7345.777500
MarkDown2       95.590000
MarkDown3      156.550000
MarkDown4     3005.320000
MarkDown5     1379.111422
dtype: float64

In [ ]:
# üîπ 4. Z-score & Outlier Detection
# Objective: Standardize values and detect anomalies.
# ‚Ä¢	Task 4.1: Compute the z-score for Fuel_Price and Temperature columns.
from scipy.stats import zscore

df['Fuel_Price_z'] = zscore(df['Fuel_Price'])
df['Temperature_z'] = zscore(df['Temperature'])

df['Fuel_Price_z'] = (df['Fuel_Price'] - df['Fuel_Price'].mean()) / df['Fuel_Price'].std()
df['Temperature_z'] = (df['Temperature'] - df['Temperature'].mean()) / df['Temperature'].std()


# ‚Ä¢	Task 4.2: Identify and count outliers using z-score > 3 or < -3.
fuel_outliers = df[(df['Fuel_Price_z'] > 3) | (df['Fuel_Price_z'] < -3)]
temp_outliers = df[(df['Temperature_z'] > 3) | (df['Temperature_z'] < -3)]

print(f"Fuel_Price Outliers: {fuel_outliers.shape[0]}")
print(f"Temperature Outliers: {temp_outliers.shape[0]}")

# ‚Ä¢	Instruction: Use scipy.stats.zscore() or manual formula:
# z=(x‚àímean)/std

Fuel_Price Outliers: 0
Temperature Outliers: 7

In [21]:
# üîπ 6. Skewness and Kurtosis
# Objective: Measure asymmetry and peakness of data.
# ‚Ä¢	Task 6.1: Calculate skewness for numerical columns.
skew_values = df.skew(numeric_only=True)
print("Skewness:\n", skew_values)

# ‚Ä¢	Task 6.2: Calculate kurtosis to understand tail distribution.
kurtosis_values = df.kurtosis(numeric_only=True)
print("Kurtosis:\n", kurtosis_values)

cols = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 
        'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

print("Skewness:\n", df[cols].skew())
print("\nKurtosis:\n", df[cols].kurtosis())


# ‚Ä¢	Instruction: Use df.skew() and df.kurtosis(). Interpret:
# o	Skewness > 0: Right-skewed
# o	Skewness < 0: Left-skewed
# o	Kurtosis > 3: Heavy tails

Skewness:
 Store             0.000000
Temperature      -0.283384
Fuel_Price       -0.305063
MarkDown1         4.016436
MarkDown2         8.347726
MarkDown3         8.133806
MarkDown4         4.864485
MarkDown5        71.484119
CPI               0.013561
Unemployment      1.067685
IsHoliday         3.328811
Fuel_Price_z     -0.305063
Temperature_z    -0.283384
dtype: float64
Kurtosis:
 Store              -1.201186
Temperature        -0.610884
Fuel_Price         -0.952388
MarkDown1          23.687167
MarkDown2          91.889232
MarkDown3          72.068075
MarkDown4          29.000294
MarkDown5        5910.446895
CPI                -1.757041
Unemployment        2.498221
IsHoliday           9.083200
Fuel_Price_z       -0.952388
Temperature_z      -0.610884
dtype: float64
Skewness:
 Temperature     -0.283384
Fuel_Price      -0.305063
CPI              0.013561
Unemployment     1.067685
MarkDown1        4.016436
MarkDown2        8.347726
MarkDown3        8.133806
MarkDown4        4.864485
MarkDown5       71.484119
dtype: float64

Kurtosis:
 Temperature       -0.610884
Fuel_Price        -0.952388
CPI               -1.757041
Unemployment       2.498221
MarkDown1         23.687167
MarkDown2         91.889232
MarkDown3         72.068075
MarkDown4         29.000294
MarkDown5       5910.446895
dtype: float64

In [22]:
# üîπ 7. Statistical Summary by Groups
# Objective: Compare distributions across subgroups.
# ‚Ä¢	Task 7.1: Group by IsHoliday and calculate:
# Markdown columns
markdown_cols = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

# Mean and std for markdowns grouped by IsHoliday
md_summary = df.groupby('IsHoliday')[markdown_cols].agg(['mean', 'std'])

# Mean for Fuel_Price and Temperature by IsHoliday
price_temp_summary = df.groupby('IsHoliday')[['Fuel_Price', 'Temperature']].mean()

print("Markdown Summary by IsHoliday:\n", md_summary)
print("\nFuel_Price & Temperature Mean by IsHoliday:\n", price_temp_summary)

# o	Mean and std of all markdown columns.
# o	Mean Fuel_Price and Temperature.
# ‚Ä¢	Task 7.2: Group by Store and calculate average CPI, Fuel_Price, and Unemployment.
# ‚Ä¢	Instruction: Use groupby() followed by .agg(['mean', 'std']).

Markdown Summary by IsHoliday:
               MarkDown1                  MarkDown2                \
                   mean           std         mean           std
IsHoliday
False       6621.591146   7689.282701   891.546291   3728.966343
True       11896.328535  19418.858887  5334.662034  14966.867103

              MarkDown3                  MarkDown4                  MarkDown5  \
                   mean           std         mean           std         mean
IsHoliday
False        252.276325   1144.329016  3019.268943   5897.762771  4178.182160
True       18472.234816  34945.532922  6357.234754  12788.867339  3534.661836


                   std
IsHoliday
False      9532.331838
True       1972.665483

Fuel_Price & Temperature Mean by IsHoliday:
            Fuel_Price  Temperature
IsHoliday
False        3.415351    60.194901
True         3.284323    48.453060

In [ ]:
# üîπ 8. Handling Missing Data ‚Äì Statistical Approach
# Objective: Explore missingness and treat it statistically.
# ‚Ä¢	Task 9.1: Count missing values for MarkDown1‚Äì5, CPI, Unemployment.

# ‚Ä¢	Task 9.2: Fill missing values using:
# o	Mean
# o	Median
# o	Forward fill
# ‚Ä¢	Instruction: Compare before vs after fill using .describe() to see changes in stats.

In [18]:
# üîπ 5. Coefficient of Variation (CV)
# Objective: Assess relative variability.
# ‚Ä¢	Task 5.1: Calculate CV for Temperature, Fuel_Price, CPI, Unemployment:
# CV= (Standard Deviation/Mean)*100% 
columns = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

for col in columns:
    mean_val = df[col].mean()
    std_val = df[col].std()
    cv = (std_val / mean_val) * 100
    print(f"{col}:\n  Mean: {mean_val:.2f}, Std Dev: {std_val:.2f}, CV: {cv:.2f}%\n")
# ‚Ä¢	Instruction: Compare which feature is most volatile (high CV).

Temperature:
  Mean: 59.36, Std Dev: 18.68, CV: 31.47%

Fuel_Price:
  Mean: 3.41, Std Dev: 0.43, CV: 12.66%

CPI:
  Mean: 173.20, Std Dev: 38.38, CV: 22.16%

Unemployment:
  Mean: 7.83, Std Dev: 1.88, CV: 23.98%